@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BM-JUA";
    src: url("https://cdn.jsdelivr.net/gh/wizfile/font/BM-JUA.eot");
    src: url("https://cdn.jsdelivr.net/gh/wizfile/font/BM-JUA.woff")
        format("woff");
    font-style: normal;
}

html,
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

header {
    margin-bottom: 4px;
    margin-top: 4px;
    width: 340px;
    height: 120px;
    background-image: url("../../public/banner.png");
    background-size: cover; /* 이미지 크기 조정 설정 */
    background-repeat: no-repeat; /* 이미지 반복 없음 설정 */
    border-radius: 8px 8px 0px 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 348px;
    /*height: 645.5px;*/
    padding-bottom: 30px;
    background-color: #ecedef;
}

.DivImageContainer {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 100%; /* 부모 요소에 border-radius 설정 */
    overflow: hidden;
}

.DivImage {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 0;
    margin: 125px;
    margin-left: 60px;
    border-radius: 100%; /* 부모 요소에 border-radius 설정 */
    transform: translate(-50%, -50%);
}

.DivImage img {
    width: 90px;
    height: 90px;
    border-color: #ecedef;
    border-width: 5px;
    border-radius: 50%; /* 부모 요소에 border-radius 설정 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.UserName {
    background-color: white;
    margin-top: 20px;
    width: calc(100% - 50px);
    height: calc(67%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
}

.UserName h1 {
    width: 100%;
    text-align: left;
    font-family: "BM-JUA";
    font-size: 25px;
    padding-bottom: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.Badge {
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 75%;
    background-color: white;
}

.Badge svg {
    /*남냥 틀딱*/
    width: 20px;
    height: 20px;
}
.Line {
    width: 100%;
    background-color: #e1e2e4;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: #006ce7;
}

br {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    background-color: #ffffff00;
    height: 50px;
    resize: none;
    border: none;
}

.listflex {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    width: 197.91px;
    background-color: #D7D9DC;
    border-radius: 7px;
}

@media only screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #313338;
    }
    main {
        background-color: #242428;
    }
    .DivImage img {
        border-color: #242428;
    }
    .UserName {
        background-color: #111214;
    }
    .Badge {
        background-color: #111214;
    }
    .listflex {
        background-color: #414249;
    }
}

.mainlist {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



img {
    border-radius: 100%;
}